**1) Для заданного целого числа n выполнить следующие условные действия:**

Если n нечетно, выведите Astana

Если n чётно и находится в диапазоне от 2 до 5, выведите Алматы

Если n чётно и находится в диапазоне от 6 до 20 включительно, выведите Astana

Если n чётно и больше 20, выведите Алматы

In [1]:
#Код
n = int(input("Введите цифру: "))
if n%2 != 0: 
    print("Astana")
elif n%2 ==0 and n in range(2,5):
    print("Алматы")
elif n%2 ==0 and n in range(6,20):
    print("Astana")
elif n%2 ==0 and n > 20:
    print("Алматы")

Введите цифру: 5
Astana

**2) Дано целое число n. Для всех неотрицательных целых чисел i <n, выведите квадрат числа i.**

In [2]:
#Код
n = int(input("Введите цифру: "))
for i in range(n):
    if i < n:
        expon = i ** 2
        print(expon, end=" ")

Введите цифру: 7
0 1 4 9 16 25 36

**3) Дано целое число n.**

Не используя строковые методы, попробуйте напечатать следующее:

<code>123.....n</code>

Обратите внимание, что <code> ... </code> представляет значения между ними.

In [3]:
#Код
n = int(input("Введите цифру: "))
for i in range(1,n+1):
    print(i, end="")

Введите цифру: 10
12345678910

**4) Какова сумма первых 10 натуральных чисел?**

In [4]:
#Код
natural_number_sum=0 
current_natural_number = 1
while current_natural_number <=10:
# we add the value of the variable current_natural_number to the variable natural_number_sum
    natural_number_sum+=current_natural_number 
# we increase the value of current_natural_number for 1 in each loop 
    current_natural_number+=1 

print(natural_number_sum)

55

**5) Напишите программу на Python, которая принимает радиус круга от пользователя и вычисляет площадь.**

**Tip**: <code>from math import pi</code>

In [5]:
#Код
from math import pi
circle_radius = int(input("Enter the radius of circle: "))
circle_square = pi * (circle_radius **2)
print(circle_square) # if we want to see the output in integer not floating number

Enter the radius of circle: 6
113.09733552923255

**6)  Напишите программу на Python, чтобы получить объем сферы с радиусом 7.**

In [6]:
#Код
from math import pi
sphere_radius = int(input("Enter the radius of sphere: "))
sphere_volume = (4/3)*pi*(sphere_radius**3)
print(sphere_volume) # if we want to see the output in integer not floating number

Enter the radius of sphere: 7
1436.7550402417319

**7) Напишите программу на Python, которая принимает целое число n и вычисляет значение n + nn + nnn. (nn-двузначное число)**

In [7]:
#Код
n = int(input("Enter the number: "))
nn = n*11
nnn = n*111
sum_of_operation = n + nn + nnn
print(sum_of_operation)

Enter the number: 5
615

**8) Напишите программу на Python, которая примет основание и высоту треугольника и вычислит площадь.**

In [8]:
#Код
base_of_triangle = int(input("Enter the base of triangle: "))
height_of_triangle = int(input("Enter the height of triangle: "))
square_of_triangle = 1/2*(base_of_triangle*height_of_triangle)
print(square_of_triangle) # if we want to see the output in integer not floating number

Enter the base of triangle: 8
Enter the height of triangle: 2
8.0

**9) Напишите программу на Python для преобразования высоты (в футах и дюймах) в сантиметры.**

In [9]:
#Код
foot = int(input("Enter the height in foot: "))
inch = int(input("Enter the height in inches: "))
converted_to_cm = (foot * 30.48) + (inch * 2.54)
print(converted_to_cm)

Enter the height in foot: 7
Enter the height in inches: 7
231.14000000000001

**10) Напишите программу на Python для вычисления расстояния между точками (x1, y1) и (x2, y2).**

In [10]:
#Код
x1 = 2
y1 = 5
x2 = 9
y2 = 13
distance = (((x2-x1)**2) + ((y2-y1)**2)) ** (0.5)
print(distance)
# it is also possible to use math.sqrt if we are allowed to use it in this exercise

10.63014581273465

**11) Напишите программу на Python для вычисления гипотенузы прямоугольного треугольника.**

In [11]:
#Код
first_cath = 7
second_cath = 5
length_of_hypotenuse = ((first_cath ** 2) + (second_cath ** 2)) ** (0.5)
print(length_of_hypotenuse)

8.602325267042627

**12) Сколько натуральных чисел не больше 100 делиться на 7 и на 2?**

In [12]:
calculation_of_numbers = 0 
natural_number = 1
for number in range(100):
    if number >= natural_number:
        if number % 7 == 0 and number % 2 == 0:
            calculation_of_numbers += 1 
print(calculation_of_numbers)

7

# Прекрасная работа!